body,
html {
    height: 100%;
    width: 100%;
    font-family: "Be Vietnam", sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
